body {
    background-color:floralwhite;
    margin-bottom: 300;
    cursor: url("beetle.svg"), auto;
}

a:hover {
    cursor: url("flame.svg"), auto;
}

h1 {
    color:rgb(0, 0, 0);
    font-family: "Italianno";
    font-size: 36pt;
    text-align: center;
    /*margin-left: 300;*/
    margin-top: -50;
}

h2 {
    color:rgb(10, 10, 10);
    font-family: "IM Fell Double Pica";
    font-size: 10pt;
    text-align: center;
    /*margin-left: 300;*/

}

p {
    color: rgb(20, 20, 20);
    font-family: "Halant";
    font-size: 12pt;
    margin-left: 150pt;
    margin-right: 150pt;
}

#angel {
    position: absolute;
    margin-top: 6000px;
    margin-left: 600px;
    width: 500px;
    mix-blend-mode:hard-light;
    opacity: 100%;
}

#ivy {
    position: fixed;
    margin-top: -400px;
    margin-left: 750px;
    width: 600px;
    transform: rotate(-25deg);
}

#cathedral {
    position: static;
    margin-top: -400px;
    width: 1280px;
    mix-blend-mode: hard-light;
    opacity: 80%;
    transform: rotate(180deg);
    z-index: -1;
}
